
/*pseudoelement(::)*/

/*.paragraph::first-line{
	color: red;
	font-size: 20px;
}*/


/*.paragraph::first-letter{
	color: red;
	font-size: 40px;
}*/



/*.paragraph::selection{
	background-color: orange;
	color: white;
}*/




.paragraph::before{
	content: "ABC";
	font-size: 40px;
}



.paragraph::after{
	content: "Hello";
	font-size: 40px;
}















/*psudoelement's sign (::)*/
/*စာကြောင်းတကြောင်းတည်းကို အမှတ်အသားပေးချင်တာ(သို့)စာတလုံးတည်းကို အမှတ်အသားလုပ်ချင်ရင်သုံး*/
