.containerone .circle1{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: conic-gradient(
		yellow,
		red,
		green,
		pink
	);
}


.containerone .circle2{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: conic-gradient(
		#ebe134,
		#53eb34,
		#349ceb,
		#eb348c
	);
}


.containerone .circle3{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: conic-gradient(
		rgba(13,148,145,1.00),
		rgba(233,72,145,1.00),
		rgba(12,49,145,1.00),
		rgba(84,237,145,1.00)
	);
} 



.containerone .circle4{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: conic-gradient(
		red 40%,
		yellow 0% 60%,
		blue 0%
	);
}



.containertwo{
	width: 600px;
	height: 300px;
	background-color: green;


	display: flex;

	justify-content: center; /*horizon center*/
	align-items: center;  /* vertical center*/

	position: relative;
}


.containertwo .c1{
	width: 300px;
	height: 300px;
	background-color: black;
	border-radius: 50%;

	position: absolute;
	/*top: 0;
	right: 0;*/

	z-index:1 ;

}

.containertwo .c2{
	width: 320px;
	height: 320px;
	/*background-color: blue;*/
	/*background: linear-gradient(red,orange);*/
	background: conic-gradient(
		red,
		violet 30%,
		red 0%,
		blue 70%,
		red 0%,
		yellow
	);

	border-radius: 50%;

	position: absolute;
	/*top: 0;
	left: 0;*/


}



.pointercontainer{
	width: 20px;
	height: 200px;
	/*background-color: grey;*/

	position: absolute;
	top: -50px;

	z-index: 2;

	animation-name:myani;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;

	transform-origin: bottom;

	


}

.pointer{
	width: 20px;
	height: 20px;
	background-color: red;

	display: block;
	border-radius: 50%;

}

@keyframes myani{
	from{
		transform: rotate(0deg);
	}

	to{
		transform: rotate(360deg);
	}
}







